.function {
  color: #ff00ff;
}
.string {
  color: #00ffff;
}
.normal {
  color: #bbbbbb;
}
.fstring {
  color: #ff0088;
}
.builtin {
  color: #ff8800;
}
.keyword {
  color: #88ff00;
}
.error {
  color: #ff0000;
}
.operand {
  color: #8800ff;
}
